.custom-step{

    width: 50%;
    margin: auto;
    padding-top: 5%;

}

.custom{

    width: 90%;
    margin: auto;
    padding-top: 5%;

}
.main{
width: 100%;
margin: auto;
}
.message{
  text-align: center;
  text-decoration: none;
  color: black;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 1000px) {
  .main {
    width: 50%;
    margin: auto;
  }

  
}