<div>
  <div>
    <br />
    <img
      class="ui centered small image"
      src="../../../assets/logo/logo3.3.png"
      alt="gif"
    />
  </div>
  <br />

  <div class="main">
    <br />
    <div class="ui container">
      <div *ngIf="isError" class="ui red message">
        {{ message }}
      </div>

      <form class="ui form custom">
        <div class="field">
          <label>Username</label>
          <div class="ui icon input">
            <i class="user icon"></i>
            <input
              type="text"
              placeholder="Enter your username "
              name="username"
              id="username"
              [(ngModel)]="username"
            />
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui icon input">
            <input
              type="password"
              placeholder="Password Must be 8 character long"
              name="password"
              id="password"
              [(ngModel)]="password"
              (blur)="isValidPassword()"
              (click)="reset()"
            />
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <sui-checkbox [(ngModel)]="isAgree" name="isAgree">
            I agree to the <a href="">Terms and Conditions</a>
          </sui-checkbox>
        </div>
        <br />
        <button (click)="login()" class="ui button positive" type="submit">
          Submit
        </button>
      </form>
      <br /><br />
      <div class="ui message">
        <a href="">Don't Have An Account</a>
      </div>
    </div>
  </div>
</div>
