<app-navbar></app-navbar>
<br />
<div class="ui container">
  <div class="ui stackable container grid">
    <div class="ten wide column">
      <h3>Post</h3>
      <div class="ui raised segments container">
        <div *ngIf="isDataFetch" class="ui segment">
          <div class="postname">
            <i
              [routerLink]="['/profile/', username]"
              routerLinkActive="router-link-active"
            >
              <img class="ui avatar image" src="{{ postData.avatar }}" />
              Posted by: {{ postData.username }} on
              {{ postData.post_time.substring(0, 10) }}
            </i>
          </div>
          <h3 class="posttitle">
            {{
              postData.title.charAt(0).toUpperCase() +
                postData.title.substring(1)
            }}
          </h3>
          <div class="ui stackable mobile reversed container grid">
            <div class="ten wide column inverted">
              <p class="postparameter">
                Description:
                <span class="postdata">{{ postData.description }}</span>
              </p>
              <p class="postparameter">
                Book to exchange:
                <span class="postdata"> {{ postData.givebookname }} </span>
              </p>
              <p class="postparameter">
                Author Name:
                <span class="postdata"> {{ postData.givebookauthor }}</span>
              </p>
              <p class="postparameter">
                Book want :
                <span class="postdata"> {{ postData.takebookname }}</span>
              </p>
              <p class="postparameter">
                Author Name:
                <span class="postdata">{{ postData.takebookauthor }}</span>
              </p>
              <p class="postparameter">
                Date:
                <span class="postdata">{{
                  postData.post_time.substring(0, 10)
                }}</span>
              </p>
              
                <input *ngIf="yourPost"
                  type="button"
                  class="ui button primary inverted"
                  name="edit"
                  value="Edit"
                  (click)="editPost()"
                />

                <input *ngIf="yourPost"
                  type="button"
                  class="ui right floated button red inverted"
                  name="delete"
                  value="Delete"
                  (click)="deletePost()"
                />
                <input *ngIf="!yourPost"
                  type="button"
                  class="ui button primary inverted"
                  name="chat"
                  value="Chat"
                />
              <div
                class="ui icon button orange inverted"
                (click)="generateSharableLink(postData.postid, postData.title)"
              >
                <i class="share icon"></i>
              </div>
              <div
                *ngIf="!isPostSaved"
                class="ui icon button"
                (click)="savePost(postData.postid)"
              >
                <i class="bookmark icon"></i>
              </div>
              <div
                *ngIf="isPostSaved && savePostId != postData.postid"
                class="ui icon button"
                (click)="savePost(postData.postid)"
              >
                <i class="bookmark icon"></i>
              </div>
              
              <div *ngIf="!isCopy && isShare">
                <p class="ui sharelink">{{ shareLink }}</p>
                <button
                  class="ui button tiny primary"
                  (click)="copyShareableLink(shareLink)"
                >
                  copy
                </button>
              </div>
              <div
                class="ui message  container"
                *ngIf="isPostSaved && sharePostId == postData.postid"
              >
                {{ savePostMessage }}
              </div>
              
              
            </div>
            <div class="six wide column">
              <img
                class="ui medium image"
                src="{{ postData.give_book_image }}"
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="six wide column">
      <h3>Posts from nearby users</h3>
      <div class="ui raised segments">
        <div class="ui segment">
          <div *ngIf="isNearByPostExist">
            <div
              *ngFor="let post of nearByPost"
              class="ui middle aligned animated list"
            >
              <div *ngIf="postData.postid != post.postid">
                <div (click)="openPost(post.postid, post.title)" class="item">
                  <div class="title">{{ post.title }}</div>
                  <div class="description">
                    {{ post.description.substring(0, 30) }}
                  </div>
                  <div class="date">{{ post.post_time.substring(0, 10) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!isNearByPostExist">
            No one from your location posted on bookxchanger. please share the
            bookxchanger with your friends family .more users means more books
            to read for free.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
