<app-navbar></app-navbar>

<div class="ui container">
  <div class="ui stackable container grid">
    <div class="ten wide column">
      <h3>Post</h3>
      <div class="ui raised segments container">
        <div *ngIf="isDataFetch" class="ui segment">
          <i
            [routerLink]="['/profile/',username]"
            routerLinkActive="router-link-active"
            ><img class="ui avatar image" src="{{ postData.avatar }}"
          /></i>

          <span>{{ postData.username }}</span>
          <h3>
            Title:
            {{
              postData.title.charAt(0).toUpperCase() +
                postData.title.substring(1)
            }}
          </h3>
          <div class="ui stackable mobile reversed container grid">
            <div class="ten wide column inverted">
              <p>{{ postData.description }}</p>
              <p>Book Want to exchange: {{ postData.givebookname }}</p>
              <p>Author name: {{ postData.givebookauthor }}</p>
              <p>Book looking for : {{ postData.takebookname }}</p>
              <p>Author Name: {{ postData.takebookauthor }}</p>
              <p>Date: {{ postData.post_time.substring(0, 10) }}</p>

              <div *ngIf="yourPost">
                <input
                  type="button"
                  class="ui button primary inverted"
                  name="edit"
                  value="Edit"
                  (click)="editPost()"
                />
                <input
                  type="button"
                  class="ui right floated button red inverted"
                  name="delete"
                  value="Delete"
                  (click)="deletePost()"
                />
              </div>
              <div *ngIf="!yourPost">
                <input
                  type="button"
                  class="ui button primary inverted"
                  name="chat"
                  value="Chat"
                />
              </div>
            </div>
            <div class="six wide column">
              <img
                class="ui medium image"
                src="{{ postData.give_book_image }}"
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="six wide column">
      <h3>Similar Posts from nearby users</h3>
      <div class="ui raised segments">
        <div class="ui segment">
          <div *ngIf="isNearByPostExist">
            <div
              *ngFor="let post of nearByPost"
              class="ui middle aligned animated list"
            >
              <div *ngIf="postData.postid != post.postid">
                <div (click)="openPost(post.postid, post.title)" class="item">
                  <img class="ui avatar image" src="{{ post.avatar }}" />
                  <span class="">{{ post.name }}</span>
                  <div class="content">
                    <div class="header">{{ post.title }}</div>
                    <div>{{ post.post_time.substring(0, 10) }}</div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
          <div *ngIf="!isNearByPostExist">
            No one from your location posted on bookxchanger. please share the
            bookxchanger with your friends family .more users means more books
            to read for free.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
