<app-navbar></app-navbar>
<br />
<br />

<div class="ui raised segment container">
  <div class="ui container stackable grid">
    <div class="row">
      <div class="twelve wide column">
        <h3 class="ui header centered">Create a post</h3>
        <p class="note">Have you read the Guidelines, if not scoll down</p>

        <form class="ui form">
          <div class="field">
            <input
              required
              type="text"
              name="title"
              placeholder="Title"
              [(ngModel)]="title"
              (blur)="onBlur()"
            />
          </div>
          <div class="field">
            <textarea
              rows="4"
              spellcheck="true"
              placeholder="Short Discription (Maximum 140 characters allowed)"
              name="description"
              [(ngModel)]="description"
              (blur)="onBlur()"
            ></textarea>
          </div>
          <div class="ui field">
            <input
              type="text"
              required
              name="have"
              placeholder="Title of book you have"
              [(ngModel)]="giveBookName"
              (blur)="onBlur()"
            />
          </div>
          <div class="field">
            <input
              type="text"
              required
              name="haveauthor"
              placeholder="Author of book you have"
              [(ngModel)]="giveBookAuthor"
              (blur)="onBlur()"
            />
          </div>
          <div class="field">
            <label>Select genres of book you have</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select atleast 2 genres of book'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              name="selecteditems"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onItemDeSelect($event)"
            >
            </ng-multiselect-dropdown>
          </div>
          <div class="field">
            <input
              type="text"
              required
              name="want"
              placeholder="Title of book you want (Optional)"
              [(ngModel)]="takeBookName"
            />
          </div>
          <div class="field">
            <input
              type="text"
              required
              name="wantauthor"
              placeholder="Author of book you want (Optional)"
              [(ngModel)]="takeBookAuthor"
            />
          </div>
          <div class="field">
            <div *ngIf="isImageUploaded" class="ui fluid small image">
              <img src="{{ bookImage }}" alt="givebook" />
            </div>
            <label> Upload the Photo of book you have </label>
            <input
              type="file"
              name="avatar"
              id="avatar"
              (change)="fileChangeEvent($event)"
              (blur)="onBlur()"
            />
            <button class="ui button primary inverted" (click)="upload()">
              Upload
            </button>
            <div *ngIf="isImageUploaded">
              {{ imageUploadNote }}
            </div>
            <div *ngIf="!isImageUploaded">
              {{ imageUploadNote }}
            </div>
          </div>

          <div *ngIf="isDone" class="ui info message">
            {{ message }}
          </div>
          <div *ngIf="isError" class="ui red message">
            {{ message }}
          </div>
          <div class="field">
            <input
              class="ui primary button"
              name="addpost"
              type="submit"
              value="Post"
              (click)="addPost()"
            />
            <input
              class="ui button right floated"
              type="button"
              value="Discard"
              name="discardpost"
              (click)="discardPost()"
            />
          </div>
        </form>
      </div>
      <div class="four wide column">
        <div class="ui segment">
          <div class="ui header red">Guidelines</div>
          <div class="ui relaxed divided list">
            <div class="item">
              <div class="ui content positive">
                <div class="header teal">
                  1. Enter proper book and author name
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">2. Add snapshot of book.</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">3. Book 1: Book you have</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">4. Book 2: Book you want</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">
                  5. Provide location in your profile section.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
