<app-navbar></app-navbar>
<br />
<br />

<div class="ui raised segment container">
  <div class="ui container stackable grid">
    <div class="row">
      <div class="twelve wide column">
        <h3 class="ui header centered">Create a post</h3>
        <p class="note">Have you read the Guidelines, if not scoll down </p>
        <div class="ui form">
          <div class="field">
            <input required type="text" name="title" placeholder="Title" />
          </div>
          <div class="field">
            <textarea
              rows="4"
              spellcheck="true"
              placeholder="Short Discription"
            ></textarea>
          </div>
          <div class="ui field">
            <input
              type="text"
              required
              name="have"
              placeholder="Title of book you have"
            />
          </div>
          <div class="field">
            <input
              type="text"
              required
              name="haveauthor"
              placeholder="Author of book you have"
            />
          </div>
          <div class="field">
            <input
              type="text"
              required
              name="want"
              placeholder="Title of book you want (Optional)"
            />
          </div>
          <div class="field">
            <input
              type="text"
              required
              name="wantauthor"
              placeholder="Author of book you want (Optional)"
            />
          </div>
          <div class="field">
            <label> Upload the Photo of book you have </label>
            <input required type="file" name="photo" id="" />
          </div>
          <div class="field">
            <input class="ui primary button" type="submit" value="Post" />
            <input
              class="ui  button right floated"
              type="button"
              value="Discard"
            />
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui segment">
          <div class="ui header red">Guidelines</div>
          <div class="ui relaxed divided list">
            <div class="item">
              <div class="ui content positive">
                <div class="header teal">
                  1. Enter proper book and author name
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">2. Add snapshot of book.</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">3. Book 1: Book you have</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">4. Book 2: Book you want</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header">5. Provide correct location.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
