<app-navbar></app-navbar>
<br>
<br>

<div class="ui raised segment container">
    <div class="ui container stackable internally celled grid">
        <div class="row">
    
            <div class="twelve wide column">
                <p class="ui header teal centered">Create Post</p>
                <div class="ui form">
                    <div class="field">
                        <input required type="text" name="title" placeholder="Enter Title of book swap request">
                    </div>
                    <div class="field">
                        <textarea placeholder="Short Discription"></textarea>
                    </div>
                    <div class="field">
                        <input type="text" required name="have" placeholder="Enter Title of book you have">
                    </div>
                    <div class="field">
                        <input type="text" required name="title" placeholder="Enter Title of book you want">
                    </div>
                    <div class="field">
                        <label> Upload the Photo of book you have </label>
                        <input required type="file" name="photo" id="">
                    </div>
                    <div class="field">
                        <input class="ui teal button" type="button" value="Submit">
                        <input class="ui orange button right floated" type="button" value="Discard">
                    </div>
                    
                </div>
            </div>
            <div class="four wide column">
                <div class="ui  segment">
                    <div class=" ui header red"> Rules </div>
                    <div class="ui  relaxed divided list">
                        <div class="item">
                            <div class=" ui content positive ">
                                <div class=" header   teal">Enter Proper Book Name</div>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Add Snapshot Of Book.</div>   
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Book 1: Book you have </div>
                        
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Book 2: Book you want </div>
                        
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Provide Correct Location.</div>
                        
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="content">
                                <div class="header">Be Civil</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
