<app-navbar></app-navbar> <br /><br />
<div class="search">
  <div class="ui form container">
    <div class="inline fields">
      <div class="thirteen wide field">
        <input
          type="text"
          placeholder="Enter String"
          name="text"
          [(ngModel)]="text"
        />
      </div>

      <div class="three wide field">
        <button class="ui button inverted primary" (click)="searchPost(1)">
          Search
        </button>
      </div>
    </div>
    <label>Search By : (Select ONLY ONE fo the following parameter) </label>
    <br />
    <br />
    <br />
    <div class="inline fields">
      <br />
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByBook()"
            tabindex="0"
            class=""
          />
          <label>Book name</label>
        </div>
      </div>
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByAuthor()"
            tabindex="0"
            class=""
          />
          <label>Author name</label>
        </div>
      </div>
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByTitle()"
            tabindex="0"
            class=""
          />
          <label>Title</label>
        </div>
      </div>
    </div>
    <div class="inline fields">
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByLocation()"
            tabindex="0"
            class=""
          />
          <label>Location</label>
        </div>
      </div>
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByUser()"
            tabindex="0"
            class=""
          />
          <label>User Name</label>
        </div>
      </div>
    </div>
    <br />
    <div *ngIf="isError" class="ui message red">{{ message }}</div>
    <div *ngIf="isDataFetch" class="ui message primary">{{ note }}</div>
  </div>
  <div *ngIf="isDataFetch">
    <div
      *ngFor="
        let post of postData
          | paginate
            : {
                itemsPerPage: limit,
                currentPage: page,
                totalItems: totalPages
              };
        let i = index
      "
    >
      <div class="ui teal padded segment container">
        <div class="postname">
          <i
            [routerLink]="['/profile/', post.name]"
            routerLinkActive="router-link-active"
          >
            <img class="ui avatar image" src="{{ post.avatar }}" />
            Posted by: {{ post.name }} on {{ post.post_time.substring(0, 10) }}
          </i>
        </div>
        <div (click)="openPost(post.postid,post.title)">
          <h3 class="posttitle">
            {{ post.title.charAt(0).toUpperCase() + post.title.substring(1) }}
          </h3>
        </div>
        <br />
        <div class="ui grid container stackable">
          <div class="six wide column">
            <img
              class="ui rounded fluid centered bordered image"
              src="{{ post.give_book_image }}"
              alt=""
            />
          </div>
          <div class="ten wide column container">
            <div class="details">
              <div class="details">
                <p class="postparameter">
                  Description:
                  <span class="postdata">{{ post.description }}</span>
                </p>
              </div>
              <div class="details">
                <p class="postparameter">
                  Book to exchange:
                  <span class="postdata"> {{ post.givebookname }} </span>
                </p>
              </div>
              <div class="details">
                <p class="postparameter">
                  Author Name:
                  <span class="postdata"> {{ post.givebookauthor }}</span>
                </p>
              </div>

              <div
                class="details"
                *ngIf="
                  post.takebook !== undefined || post.takebook !== null;
                  else takebooknotpresent
                "
              >
                <p class="postparameter">
                  Book want :
                  <span class="postdata"> {{ post.takebookname }}</span>
                </p>
              </div>
              <ng-template #takebooknotpresent>
                <p class="postparameter">
                  Book want : <span class="postdata">{{ takeBook }}</span>
                </p>
              </ng-template>

              <div class="details">
                <p class="postparameter">
                  Author Name:
                  <span class="postdata">{{ post.takebookauthor }}</span>
                </p>
              </div>
              <div class="details">
                <p class="postparameter">
                  Date:
                  <span class="postdata">{{
                    post.post_time.substring(0, 10)
                  }}</span>
                </p>
              </div>
              <br />
            </div>
            <input
              *ngIf="post.profileid == profileId"
              type="button"
              class="ui button primary inverted"
              name="edit"
              value="Edit"
              (click)="editPost(post.postid)"
            />

            <input
              *ngIf="post.profileid != profileId"
              type="button"
              class="ui button primary inverted"
              name="chat"
              value="Chat"
              (click)="chat(post.postid)"
            />
            <div
              class="ui icon button orange inverted"
              (click)="generateSharableLink(post.postid, post.title)"
            >
              <i class="share icon"></i>
            </div>
            <div
              *ngIf="!isPostSaved"
              class="ui icon button"
              (click)="savePost(post.postid)"
            >
              <i class="bookmark icon"></i>
            </div>
            <div
              *ngIf="isPostSaved && savePostId != post.postid"
              class="ui icon button"
              (click)="savePost(post.postid)"
            >
              <i class="bookmark icon"></i>
            </div>
            <div
              *ngIf="isPostSaved && savePostId == post.postid"
              class="ui icon button green inverted"
              (click)="savePost(post.postid)"
            >
              <i class="bookmark icon"></i>
            </div>

            <div *ngIf="!isCopy && isShare && post.postid == sharePostId">
              <p class="ui sharelink">{{ shareLink }}</p>
              <button
                class="ui button tiny primary"
                (click)="copyShareableLink(shareLink)"
              >
                copy
              </button>
            </div>
            <div
              class="ui message container"
              *ngIf="isPostSaved && sharePostId == post.postid"
            >
              {{ savePostMessage }}
            </div>
            <div
              class="ui message container"
              *ngIf="isChatError && chatPostId == post.postid"
            >
              {{ chatMessage }}
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <pagination-controls
      *ngIf="isDataFetch"
      (pageChange)="getNextPage($event)"
    ></pagination-controls>
  </div>
</div>
