<app-navbar></app-navbar> <br /><br />
<div class="search">
  <div class="ui form container">
    <div class="inline fields">
      <div class="thirteen wide field">
        <input
          type="text"
          placeholder="Enter String"
          name="text"
          [(ngModel)]="text"
        />
      </div>

      <div class="three wide field">
        <button class="ui button inverted primary" (click)="searchPost()">
          Search
        </button>
      </div>
    </div>
    <label>Search By : (Select ONLY ONE fo the following parameter) </label>
    <br />
    <br />
    <br />
    <div class="inline fields">
      <br />
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByBook()"
            tabindex="0"
            class=""
          />
          <label>Book name</label>
        </div>
      </div>
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByAuthor()"
            tabindex="0"
            class=""
          />
          <label>Author name</label>
        </div>
      </div>
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByTitle()"
            tabindex="0"
            class=""
          />
          <label>Title</label>
        </div>
      </div>
    </div>
    <div class="inline fields">
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByLocation()"
            tabindex="0"
            class=""
          />
          <label>Location</label>
        </div>
      </div>
      <div class="five wide field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            (change)="changeByUser()"
            tabindex="0"
            class=""
          />
          <label>User Name</label>
        </div>
      </div>
    </div>
    <br />
    <div *ngIf="isError" class="ui message red">{{ message }}</div>
    <div *ngIf="isDataFetch" class="ui message primary">{{ note }}</div>
  </div>
  <div *ngIf="isDataFetch">
    <div
      *ngFor="
        let post of postData
          | paginate: { itemsPerPage: pageSize, currentPage: page };
        let i = index
      "
    >
      <div class="ui teal padded segment container">
        <div class="ui">
          <h2>
            {{ post.title }}
          </h2>
        </div>
        <br />

        <div class="ui grid container stackable">
          <div class="six wide column">
            <img
              class="ui rounded fluid centered bordered image"
              src="{{ post.give_book_image }}"
              alt=""
            />
          </div>

          <div class="ten wide column container">
            <div class="details">
              
              <img class="ui avatar image" src="{{ post.avatar }}" />
              Posted by: {{ post.name }}

              <hr />
              <div class="details">
                {{ post.description }}
              </div>
              <div class="details">
                Book to exchange: {{ post.givebookname }}
              </div>
              <div class="details">Author Name: {{ post.givebookauthor }}</div>

              <div
                class="details"
                *ngIf="
                  post.takebook !== undefined || post.takebook !== null;
                  else takebooknotpresent
                "
              >
                Book want : {{ post.takebookname }}
              </div>
              <ng-template #takebooknotpresent
                >Book want : {{ takeBook }}</ng-template
              >

              <div class="details">Author Name:{{ post.takebookauthor }}</div>
              <div class="details">
                Date: {{ post.post_time.substring(0, 10) }}
              </div>
              <div class="details">Location: {{ post.location }}</div>
              <br />
            </div>

            <div class="ui button blue inverted">Message</div>
            <div class="ui button orange inverted">Recommend</div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <pagination-controls
      *ngIf="isDataFetch"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</div>
