.search{
    width:50%;
    margin: auto;
}
.button{
    display: inline-block;
}
.sharelink{
    overflow:scroll;
}
.postname {
  color: #545556;
}
.postname:hover {
  text-decoration: underline;
}

.postparameter {
  color: #1d2731;
}
.postdata {
  color: #0b3c5dc2;
}
.posttitle:hover {
  color: #0b3c5d;
}
@media screen and (max-width:700px){
    .search{
        width: 90%;
    }
}
