<div>
  <div>
    <img
      class="ui centered small image"
      src="../../../assets/logo/logo3.3.png"
      alt="gif"
    />
  </div>
  <div class="container custom-step">
    <div class="ui steps">
      <div class="completed step">
        <i class="envelope outline icon"></i>
        <div class="content">
          <div class="title">Register</div>
          <div class="description">Register With Us</div>
        </div>
      </div>
      <div class="active step">
        <i class="user circle outline icon"></i>
        <div class="content">
          <div class="title">Create Profile</div>
          <div class="description">Provide Location For Recommendation</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui raised segment container">
    <div class="ui container stackable internally celled grid">
      <div class="row">
        <div class="six wide column">
          <p class="ui header teal centered">Create Profile</p>
          <div class="ui card container">
            <div class="ui fluid centered image">
              <img src="../../../assets/avatar/21.png" />
            </div>
            <div class="content centered">
              <hr />
              <h3>Kristy</h3>
              <Button class="ui button primary"> Change Avatar </Button>
            </div>
          </div>
          <div class="ui form customfield">
          
          </div>
        </div>
        <div class="ten wide column">
          <div class="ui">hh</div>
        </div>
      </div>
    </div>
  </div>
</div>
