<div>
  <div>
    <img
      class="ui centered small image"
      src="../../../assets/logo/logo3.3.png"
      alt="gif"
    />
  </div>
  <div class="container custom-step">
    <div class="ui steps">
      <div class="completed step">
        <i class="envelope outline icon"></i>
        <div class="content">
          <div class="title">Register</div>
          <div class="description">Register With Us</div>
        </div>
      </div>
      <div class="active step">
        <i class="user circle outline icon"></i>
        <div class="content">
          <div class="title">Create Profile</div>
          <div class="description">Provide Location For Recommendation</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui raised segment container">
    <div class="ui container stackable internally celled grid">
      <div class="row">
        <div class="six wide column">
          <p class="ui header teal centered">Create Profile</p>
          <div class="ui card container">
            <div class="ui fluid centered image">
              <img src="../../../assets/avatar/22.svg" />
            </div>
            <div class="content centered">
              <hr />
              <h3>Kristy</h3>
              <Button class="ui button primary"> Change Avatar </Button>
            </div>
          </div>
          <div class="ui form customfield"></div>
        </div>
        <div class="ten wide column">
          <div class="ui header centered">Basic Info</div>
          <hr />
          <form #f="ngForm" class="ui form">
            <div class="field">
              <label> Favourite Genre</label>
              <ng-multiselect-dropdown
                [placeholder]="'Select Genre'"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="selectedItems"
                name="selecteditems"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </div>
            <div class="field">
              <label class="ui container">
                Provide Location: 
                <div class="ui icon button" data-tooltip="Location required for users and books  recommendation">
                <i class=" "> Read More</i>
              </div>
              </label>
              
              <br>
              
              <div>
                <input
                  type="text"
                  placeholder="Enter Name of your city/village/town"
                />
              </div>
              <h3>OR</h3>
              <button class="ui button primary" (click)="getLocation()">
                Provide Location
              </button>
            </div>
            
            <div class="field">
              <sui-checkbox
                [(ngModel)]="eCheck"
                [isDisabled]="eCheckDisabled"
                [isReadonly]="eCheckReadonly"
                name="checkbox"
              >
                I agree to the Terms and Conditions
              </sui-checkbox>
            </div>
            <button class="ui button" type="submit" onclick="Submit()">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
