<div>
  <div>
    <img
      class="ui centered small image"
      src="../../../assets/logo_svg.svg"
      alt="gif"
    />
  </div>
  <div class="container custom-step">
    <div class="ui steps">
      <div class="completed step">
        <i class="envelope outline icon"></i>
        <div class="content">
          <div class="title">Register</div>
          <div class="description">Register With Us</div>
        </div>
      </div>
      <div class="active step">
        <i class="user circle outline icon"></i>
        <div class="content">
          <div class="title">Create Profile</div>
          <div class="description">Provide Location For Recommendation</div>
        </div>
      </div>                                        
    </div>
  </div>
  <div class="ui raised segment container">
    <div class="ui container stackable internally celled grid">
      <div class="row">
        <div class="eight wide column">
          <p class="ui header teal centered">Create Profile</p>
          <div class="ui form customfield">
            <div class="field">
              <input
                required
                type="text"
                name="title"
                placeholder="Enter Username"
              />
            </div>
            <div class="field">
              <select
                name="skills"
                multiple=" true"
                class="ui fluid multiple dropdown"
              >
                <option value="">Skills</option>
                <option value="angular">Angular</option>
                <option value="css">CSS</option>
                <option value="design">Graphic Design</option>
                <option value="ember">Ember</option>
                <option value="html">HTML</option>
                <option value="ia">Information Architecture</option>
                <option value="javascript">Javascript</option>
                <option value="mech">Mechanical Engineering</option>
                <option value="meteor">Meteor</option>
                <option value="node">NodeJS</option>
                <option value="plumbing">Plumbing</option>
                <option value="python">Python</option>
                <option value="rails">Rails</option>
                <option value="react">React</option>
                <option value="repair">Kitchen Repair</option>
                <option value="ruby">Ruby</option>
                <option value="ui">UI Design</option>
                <option value="ux">User Experience</option>
              </select>
            </div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui segment"></div>
        </div>
      </div>
    </div>
  </div>
</div>
