.custom-step{

    width: 50%;
    margin: auto;
}
.customfield{
    width: 50%;
    margin: auto;
}
.image{
margin: 5px;
}

@media screen and (max-width: 1000px) {
  .customfield {
    width: 80%;
    margin: auto;
  }
}
