.custom-step{

    width: 50%;
    margin: auto;
}
.customfield{
    width: 50%;
    margin: auto;
}
.image{
margin: 5px;
}
.uired{
  color: #D31E49;
}
.uiprimary{
  background:#0079d3;
  color: whitesmoke;
}

@media screen and (max-width: 1000px) {
  .customfield {
    width: 80%;
    margin: auto;
  }
  .custom-step{
    width: 80%;

  }
}
