<div>
<div>
    <h2>Register</h2>
</div>    
<div class="ui grid container ">
    <div class="eight wide  column">
        <form class="ui form custom">

            <div class="field">
                <label>Email ID</label>
                <div class="ui icon input">
                    <i class="envelope outline red icon"></i>
                    <input type="text" placeholder="Enter valid Email id " name="Email" id="email">
                </div>
            </div>
            <div class="field">
                <label>Password</label>
                <div class="ui icon input">
                    <input type="password" placeholder="Password Must be 8 character long" name="password" id="password">
                    <i class="lock red  icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>I agree to the Terms and Conditions</label>
                </div>
            </div>
            <br>
            <button class="ui button positive" type="submit">Submit</button>
        </form>

    </div>
    <div class="eight wide  column">

        <img class="custom" src="../../../assets/bookExchanger.gif" alt="gif" width=100%>


    </div>
</div>

</div>