<div>
  <div>
    <br />
    <a [routerLink]="['/myfeed']" routerLinkActive="router-link-active">
      <img
        class="ui centered small image"
        src="../../../assets/logo/logo3.3.png"
        alt="logo"
      />
    </a>
    <br />
  </div>
  <div class="container custom-step">
    <div class="ui steps">
      <div class="active step">
        <i class="envelope outline icon"></i>
        <div class="content">
          <div class="title">Register</div>
          <div class="description">Register With Us</div>
        </div>
      </div>
      <div class="step">
        <i class="user circle outline icon"></i>
        <div class="content">
          <div class="title">Create Profile</div>
          <div class="description">Provide Location For Recommendation</div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <br />
    <div class="ui container">
      <div *ngIf="isDone" class="ui orange message">
        Congratulations registration is done
      </div>

      <div *ngIf="isError" class="ui red message">
        {{ message }}
      </div>
      <br />
      <form class="ui form custom">
        <div class="field">
          <label>Username</label>
          <div class="ui icon input">
            <input
              type="text"
              placeholder="Enter nickname"
              name="username"
              id="username"
              [(ngModel)]="username"
              (blur)="isUniqueName()"
              (click)="reset()"
            />
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Email ID</label>
          <div class="ui icon input">
            <i class="envelope icon"></i>
            <input
              type="text"
              placeholder="Enter valid Email id "
              name="Email"
              id="email"
              [(ngModel)]="email"
              (blur)="isValidEmail()"
              (click)="reset()"
            />
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui icon input">
            <input
              type="password"
              placeholder="Password must be minimum 8 character long"
              name="password"
              id="password"
              [(ngModel)]="password"
              (blur)="isValidPassword()"
              (click)="reset()"
            />
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <label> Confirm Password</label>
          <div class="ui icon input">
            <input
              type="password"
              placeholder="Password must be minimum 8 character long"
              name="confirmpassword"
              id="confirmpassword"
              [(ngModel)]="confirmpassword"
              (blur)="isPasswordSame()"
              (click)="reset()"
            />
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="privacy" [(ngModel)]="isAgree" />
            <label> I agree to the <span><a [routerLink]="['/terms_conditions']" routerLinkActive="router-link-active" > Terms and Conditions</a></span>  </label>
          </div>
        </div>
        <br />
        <button
          (click)="registerUser()"
          class="ui button positive"
          type="submit"
        >
          Submit
        </button>
      </form>
      <br /><br />

      <div class="ui message">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"
          >Already Have An Account</a
        >
      </div>
      <br>
    </div>
  </div>
</div>
