<app-navbar></app-navbar>
<br />
<br />
<div *ngIf="!isProfileAvailable">
  <div class="ui segment container message red">Profile does not exist</div>
</div>
<div *ngIf="isProfileAvailable" class="container">
  <div class="ui stackable grid">
    <div class="ui five wide column container">
      <div class="ui raised centered link card">
        <div class="content">
          <div class="ui fluid centered image">
            <img src="{{ avatar }}" alt="avatar" />
          </div>
          <div class="header">Username: {{ username }}</div>
          <br />
          <br />
          <div class="description">
            <p>Favourite Genres:</p>
          </div>
          <div *ngFor="let genre of genreList">
            {{ genre.name }}
          </div>
          <br />
          <ng-container *ngIf="isUnauth === 'false'; else elseTemplate">
            <div *ngIf="contactVisibility; else contactVisibilityTemp">
              <div class="description">
                <p>Location: {{ location }}</p>
              </div>
              <div class="content">
                <span class="category"> Email: {{ email }}</span>
              </div>
              <div class="description">
                <p>Mobile No.: {{ contact }}</p>
              </div>
            </div>
            <ng-template #contactVisibilityTemp>
              <div class="description">
                <p>Location: Hidden</p>
              </div>
              <div class="content">
                <span class="category"> Email: Hidden</span>
              </div>
              <div class="description">
                <p>Mobile No.: Hidden</p>
              </div>
            </ng-template>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="description">
              <p>Location: Hidden</p>
            </div>
            <div class="content">
              <span class="category"> Email: Hidden</span>
            </div>
            <div class="description">
              <p>Mobile No.: Hidden</p>
            </div>
          </ng-template>

          <div class="description">
            <p>Exchanging Since : {{ createdOn }}</p>
          </div>
        </div>
        <ng-container *ngIf="isYourProfile; else elsTemplate">
          <div class="extra content">
            <button
              class="ui positive basic button"
              value="Edit"
              (click)="EditProfile()"
            >
              Edit
            </button>
            <button
              class="ui negative basic button"
              value="Delete"
              (click)="deleteProfile()"
            >
              Delete
            </button>
            <div class="right floated author">
              <img class="ui avatar image" src="{{ avatar }}" />
              {{ username }}
            </div>
          </div>
        </ng-container>
        <ng-template #elsTemplate>
          <div class="extra content">
            <button class="ui primary basic button" value="message">
              Message
            </button>
            <div class="right floated author">
              <img class="ui avatar image" src="{{ avatar }}" />
              {{ username }}
            </div>
          </div>
        </ng-template>
      </div>
      <br />
      <div class="ui raised centered link card">
        <div class="content">
          <div class="header">Awards</div>
          <br />
          <div class="content">
            <span class="category">total point: {{ points }}</span>
          </div>
          <br />
          <div class="description">
            <p>You will get the points based on your activity</p>
          </div>
        </div>
        <div class="extra content">
          <div class="right floated author">
            <img class="ui avatar image" src="{{ avatar }}" />
            {{ username }}
          </div>
        </div>
      </div>
    </div>
    <div class="ui eleven wide column">
      <div class="ui raised segment">
        <h3>Recent Post</h3>

        <div *ngIf="isPostExist">
          <div
            *ngFor="
              let post of postData
                | paginate
                  : {
                      id: 'myPostPagination',
                      itemsPerPage: limit,
                      currentPage: myPostPage,
                      totalItems: totalMyPost
                    }
            "
            class="ui middle aligned animated list"
          >
            <div (click)="openPost(post.postid)" class="item">
              <img class="ui avatar image" src="{{ post.avatar }}" />
              <div class="content">
                <div class="header">{{ post.title }}</div>
                <div>{{ post.description }}</div>
                <div>{{ post.post_time.substring(0, 10) }}</div>
              </div>
            </div>
            <br />
          </div>
          <pagination-controls
            id="myPostPagination"
            (pageChange)="getPageForMyPost($event)"
          ></pagination-controls>
        </div>
        <div *ngIf="!isPostExist">
          <ng-container *ngIf="isYourProfile; else elseTemplate">
            <div class="ui container red message">
              {{ postMessage }}
            </div>
            <i
              class="ui inverted green button"
              [routerLink]="['/createpost']"
              routerLinkActive="router-link-active"
              >Create Post
            </i>
          </ng-container>
          <ng-template #elseTemplate
            ><div class="ui container red message">
              {{ username }} does not have any activity on BookXchanger
            </div>
          </ng-template>
        </div>
      </div>
      <br />
      <div *ngIf="isYourProfile" class="ui raised segment">
        <h3>Saved Post</h3>

        <div *ngIf="isSavePostExist ">
          <div
            *ngFor="
              let savePost of savePostData
                | paginate
                  : {
                      id: 'savePostPagination',
                      itemsPerPage: limit,
                      currentPage: savePostPage,
                      totalItems: totalSavePost
                    }
            "
            class="ui middle aligned animated list"
          >
            <div class="ui container grid">
              <div
                (click)="openPost(savePost.postid)"
                class="item fourteen wide column"
              >
                <div class="content">
                  <div class="header">{{ savePost.title }}</div>
                  <div>{{ savePost.description }}</div>
                </div>

                <!-- <hr /> -->
              </div>
              <div (click)="UnsavePost(savePost.postid)" class="ui column one">
                <i class="trash alternate outline icon red"></i>
              </div>
            </div>
          </div>
          <pagination-controls
            id="savePostPagination"
            (pageChange)="getPageforSavedPost($event)"
          ></pagination-controls>
        </div>
        <div *ngIf="!isSavePostExist">
          <ng-container *ngIf="isYourProfile; else elseTemplate">
            <div class="ui container red message">
              {{ message }}
            </div>
          </ng-container>
          <ng-template #elseTemplate
            ><div class="ui container red message">
              {{ username }} does not saved any post on BookXchanger
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
