<app-navbar></app-navbar>
<br />
<br />
<div class="container">
  <div class="ui stackable two column grid">
    <div class="column container">
      <div class="ui raised centered link card">
        <div class="content">
          <div class="header">User Name</div>
          <div class="meta">
            <span class="category">Location</span>
          </div>
          <div class="description">
            <p>Genre1</p>
          </div>
        </div>
        <div class="extra content">
          <a
            [routerLink]="['/updateprofile']"
            routerLinkActive="router-link-active"
            ><button class="ui positive basic button">Edit</button></a
          >

          <div class="right floated author">
            <img
              class="ui avatar image"
              src="../../../assets/avatar/1.svg"
            />
            Matt
          </div>
        </div>
      </div>
      <br />
      <div class="ui raised centered link card">
        <div class="content">
          <div class="header">Awards</div>
          <div class="meta">
            <span class="category">total point</span>
          </div>
          <div class="description">
            <p>None</p>
          </div>
        </div>
        <div class="extra content">
          <div class="right floated author">
            <img
              class="ui avatar image"
              src="../../../assets/avatar/12.svg"
            />
            name
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui raised segment">
        <div>Recent Post</div>
        <div class="ui middle aligned animated list">
          <div class="item">
            <img
              class="ui avatar image"
              src="../../../assets/avatar/20.svg"
            />
            <div class="content">
              <div class="header">Helen</div>
              <div>I want to read the ten thousand doors of january</div>
            </div>
          </div>
          <br />
          <div class="item">
            <img
              class="ui avatar image"
              src="../../../assets/avatar/25.svg"
            />
            <div class="content">
              <div class="header">Christian</div>
              <div>I want to read the ten thousand doors of january</div>
            </div>
          </div>
          <br />
          <div class="item">
            <img
              class="ui avatar image"
              src="../../../assets/avatar/28.svg"
            />
            <div class="content">
              <div class="header">Daniel</div>
              <div>Request for harry potter</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
