<div class="ui menu">
  <div>
    <a [routerLink]="['/myfeed']" routerLinkActive="router-link-active">    <img class="ui small image" src="../../../assets/logo/logo3.3.png" />
</a>
  </div>
  <div class="right menu">
    <a
      class="item"
      [routerLink]="['/myfeed']"
      routerLinkActive="router-link-active"
      >Home</a
    >
    <a
      class="item"
      [routerLink]="['/createpost']"
      routerLinkActive="router-link-active"
      >Post</a
    >

    <a
      *ngIf="!isLoggedIn"
      class="item"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      >Login</a
    >
    <div *ngIf="isLoggedIn" class="ui simple dropdown item">
      {{ username.substring(0, 10) }}
      <i class="dropdown icon"></i>
      <div class="menu">
        <a
          class="item"
          [routerLink]="['/profile']"
          routerLinkActive="router-link-active"
          >Profile</a
        >
        <a class="item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>
