
<div class="ui menu">
    <div>
        <img class="ui small image" src="../../../assets/logo/logo3.3.png">
    </div>
    <div class="right menu ">
        
        <a class="item " [routerLink]="['/myfeed']" routerLinkActive="router-link-active" >Home</a>
        <a class="item" [routerLink]="['/createpost']" routerLinkActive="router-link-active" >Post</a>
        <a class="item" [routerLink]="['/profile']" routerLinkActive="router-link-active" >Profile</a>
        <a class="item" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
    </div>
</div>


