<div>
  <app-navbar> </app-navbar>
  <br />

  <div *ngIf="isError && !isDataFetch" class="ui segment message red">
    {{ message }}
  </div>

  <div *ngIf="!isError && isDataFetch" class="ui raised segment container">
    <div class="ui container stackable internally celled grid">
      <div class="row">
        <div class="six wide column">
          <p class="ui header red centered">Your Avatar</p>
          <div class="ui card container">
            <div *ngIf="!isImageUploaded" class="ui fluid centered image">
              <img src="{{ oldAvatar }}" alt="avatar" />
            </div>
            <div *ngIf="isImageUploaded" class="ui fluid centered image">
              <img src="{{ avatarUrl }}" alt="avatar" />
            </div>

            <div class="content centered">
              <hr />
              <h3>{{ username[0].toUpperCase() + username.substring(1) }}</h3>
              <input
                type="file"
                name="avatar"
                id="avatar"
                (change)="fileChangeEvent($event)"
              />
              <button class="ui button primary inverted" (click)="upload()">
                Upload
              </button>
              <span> Supported format: PNG JPG and JPEG ONLY</span>
              <br /><br />
              <div *ngIf="isImageUploaded">
                {{ imageUploadNote }}
              </div>
              <div *ngIf="!isImageUploaded">
                {{ imageUploadNote }}
              </div>
            </div>
          </div>
          <div class="ui form customfield"></div>
        </div>
        <div class="ten wide column">
          <div class="ui header red centered">Basic Info</div>
          <hr />
          <br />
          <form #f="ngForm" class="ui form">
            <div *ngIf="isDataFetch" class="field">
              <label>Favourite Genre</label>
              <ng-multiselect-dropdown
                [placeholder]="'Select Genre'"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="selectedItems"
                name="selecteditems"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)"
              >
              </ng-multiselect-dropdown>
            </div>
            <div class="field">
              <label class="ui container">
                Change Location:
                <div
                  class="ui icon button basic orange"
                  data-tooltip="Location required for users and books  recommendation"
                >
                  <i class=" "> Read More</i>
                </div>
              </label>
              <br />
              <div>
                <input
                  type="text"
                  placeholder="Enter Name of your city/village/town"
                  name="location"
                  [(ngModel)]="placeName"
                  (keyup.enter)="onEnterGetLocation()"
                  (blur)="onBlurGetLocation()"
                />
              </div>
              <h3>OR</h3>
              <button class="ui button primary basic" (click)="getLocation()">
                Provide Location
              </button>
              <p *ngIf="foundLocation">{{ placeName }}</p>
            </div>
            <div *ngIf="invalidLocation" class="ui red message">
              {{ message }}
            </div>
            <div class="ui header red centered">Account Info</div>
            <hr />
            <br />
            <div class="field">
              <label class="ui"> Change Email: </label>
              <div>
                <input
                  type="text"
                  placeholder="Enter new Email"
                  [(ngModel)]="email"
                  name="email"
                />
              </div>
            </div>
            <div class="field">
              <label>Change Contact Details</label>
              <input
                type="text"
                placeholder="Enter Mobile Number"
                [(ngModel)]="contact"
                name="contact"
                (blur)="onBlurValidateContact()"
              />
            </div>
            <div class="field">
              <label>Manage Privacy Details</label>
              <div class="ui checkbox">
                <input
                  type="checkbox"
                  name="privacy"
                  [(ngModel)]="hidePrivacy"
                />
                <label *ngIf="isHidden">
                  Unchek the box to Hide your mobile number, location on your
                  profile
                </label>
                <label *ngIf="!isHidden"
                  >Check the box to Make your mobile number, location visible on
                  profile
                </label>
              </div>
            </div>
            <div *ngIf="isError" class="ui message red">
              {{ message }}
            </div>

            <div *ngIf="isDone" class="ui message green">
              {{ message }}
            </div>

            <button
              class="ui button positive basic"
              type="submit"
              (click)="updateProfile()"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
