<app-navbar></app-navbar>
<br />
<div class="ui container">
  <div class="ui container segments">
    <div class="ui stackable grid container">
      <div class="eight wide column">
        <i [routerLink]="['/createpost']" routerLinkActive="router-link-active">
          <div class="ui fluid category search">
            <div class="ui icon input post">
              <input class="" type="text" placeholder="Create Post" />
              <i class="edit outline icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </i>
      </div>

      <div class="eight wide column">
        <div class="ui right aligned category search">
          <div class="ui icon input post">
            <input
              class="prompt"
              type="text"
              placeholder="Search post by book name..."
            />
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="ui container">
  <div class="ui compact menu container">
    <a class="item">
      <i class="map marker alternate icon"></i>
      Location
    </a>
    <a class="item">
      <i class="paperclip icon"></i>
      Your Post
    </a>
    <a class="item">
      <i class="paper plane icon"></i>
      New
    </a>
  </div>
</div>
<br />
<div class="ui stackable grid container">
  <div class="twelve wide column">
    <div *ngFor="let post of nearByPost">
      <div class="ui teal padded segment container">
        <div class="ui">
          <h2>
            {{ post.title }}
          </h2>
        </div>
        <br />

        <div class="ui grid container stackable">
          <div class="six wide column">
            <img
              class="ui rounded fluid centered bordered image"
              src="../../../assets/images/lotr.jpg"
              alt=""
            />
          </div>

          <div class="ten wide column container">
            <div class="details">
              <div>Posted by: {{ post.name }}</div>
              <hr>
              <div class="details">
                {{ post.description }}
              </div>
              <div class="details">
                Book to exchange: {{ post.givebookname }}
              </div>
              <div class="details">Author Name: {{ post.givebookauthor }}</div>
              <div class="details">Book want : {{ takebook }}</div>
              <div class="details">Author Name:{{ takebookauthor }}</div>
              <div class="details">
                Date: {{ post.post_time.substring(0, 10) }}
              </div>
              <div class="details">Location: {{ post.location }}</div>
              <br />
              <div class="details">
                {{ post.name }} is : {{ post.distance }} miles away from your
                location
              </div>
            </div>
            <div class="ui button blue inverted">Message</div>
            <div class="ui button orange inverted">Recommend</div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
  <div class="four wide column">
    <p>Trending Posts</p>
    <div class="ui segments container">
      <div class="ui segment">
        <p>post1</p>
      </div>
      <div class="ui segment">
        <p>post2</p>
      </div>
      <div class="ui segment">
        <p>post3</p>
      </div>
    </div>
    <p>New Posts</p>
    <div class="ui segments container">
      <div class="ui segment">
        <p>post1</p>
      </div>
      <div class="ui segment">
        <p>post2</p>
      </div>
      <div class="ui segment">
        <p>post3</p>
      </div>
    </div>
  </div>
</div>
