<app-navbar></app-navbar>
<div class="ui container segments">
    <div class="ui grid container">
        <div class="eight wide column">
            <div class="ui fluid  category search ">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search post by book name...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui  right aligned  category search ">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search Your post by book name...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
    

    
    
</div>

<div class="ui grid container">
    <div class="twelve wide column">
        <div class="ui segments container">
            <p>Title</p>
            
            <div class="ui red segment">
                <p>Middle</p>
            </div>
            <div class="ui blue segment">
                <p>Middle</p>
            </div>
            <div class="ui green segment">
                <p>Middle</p>
            </div>
            <div class="ui yellow segment">
                <p>Bottom</p>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <p>Trending Posts</p>
        <div class="ui segments container">
            <div class="ui segment">
                <p>post1</p>
            </div>
            <div class="ui segment">
                <p>post2</p>
            </div>
            <div class="ui segment">
                <p>post3</p>
            </div>
        </div>
        <p>New  Posts</p>
        <div class="ui segments container">
            
            <div class="ui segment">
                <p>post1</p>
            </div>
            <div class="ui segment">
                <p>post2</p>
            </div>
            <div class="ui segment">
                <p>post3</p>
            </div>
        </div>
    </div>
</div>

