<app-navbar></app-navbar>
<div>
  <div class="ui  segment">
    <div class="ui segment blue container">
      <h1>What is BookXchanger?</h1>
      <h3>{{ what }}</h3>
    </div>
    <div class="ui segment red container">
      <h1>How BookXchanger works?</h1>
      <h3>{{ how }}</h3>
      <div class="ui ordered list">
        <li class="item">Create Account</li>
        <li class="item">Submit post mentioning book you want </li>
        <li class="item">We will match you with other users from nearby location with same interest in books.</li>
        <li class="item">You can chat with other user and then decide how to swap book.</li>
        <li class="item">You will credited with award points with every succesful swapping.</li>
        <li class="item">You can search other user with same interest in books to build communty.</li>

      </div>
    </div>
    <div class="ui segment teal container">
      <h1>Why BookXchanger?</h1>
      <h3>{{ why }}</h3>
      <div class="ui ordered list">
        <li class="item">BookXchanger allows you read quality books for free</li>
        <li class="item">BookXchanger provides rich features like advance search and chat with user for seamless book swapping </li>
        <li class="item">By swapping books you can save tones of money.</li>
        <li class="item">Well you know how books made, So swapping books you can save trees.</li>
        <li class="item">Meet interesting people with same interest in books.</li>
      </div>
    </div>
    <div class="ui segment purple container">
      <h1>Have a question?</h1>
      <a href="mailto:crcevishal@gmail.com">Ask Us</a>
    </div>
  </div>
</div>
